@media (min-width: 300px) and (max-width: 400px) {
  #container {
    display: grid;
    grid-template-columns: 1fr;
  }
  #save-turtles {
    display: unset;
  }

  #sidebar {
    display: none;
  }

  .mobile-cards {
    display: unset;
  }
}
