/* ---------- MEDIA QUERIES ------------*/
@media ( max-width: 450px) {
    body {
      display: flex;
    }
    .navbar {
      background-color: #3a7d44 !important;
  }
    #intro {
      width:100vw;
    }
    #container {
      display: flex;
    flex-direction: column;
    }
    #save-turtles {
      display: unset;
    }
    #interactive {
      display: none;
    }
    #interactive img {
      display: none;
    }
    #sidebar {
      display: none;
    }
    #bubbles {
      display: none;
    }
    #bubbles img {
        display: none;
      }
    .mobile-cards {
      display: unset;
    }
    .horizontal-scroll {
      display: none;
    }
   .navbar-nav {
       display: unset;
   }
   .navbar-nav a {
       color: white;
       font-size: 1.4rem;
       font-weight: 500;
line-height: 2.6rem;
   }
  }
