html,
body {
  margin: 0;
  padding: 0;
  /*cursor: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/274/turtle_1f422.png"), auto;*/
}
body {
  font: 1rem trebuchet, sans-serif;
  color: #181d27;
}
p {
  margin: 0 10px 10px;
}
a {
  padding: 5px;
  text-decoration: none;
  color: #3a7d44;
}
a:hover {
  color: #181d27;
}

div#header {
  background-color: #254d32;
  
}
div#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
  
}
#header h1 a{
  color: #69b578;
}
div#content p {
  line-height: 1.4;
}
div#navigation {
  border-top: 3px solid #3a7d44;
  padding: 1rem 0;
}
div#navigation ul {
  margin: 15px 0;
  padding: 0;
  list-style-type: none;
}
div#navigation li {
  margin-bottom: 5px;
}
div#extra {
  background-color: transparent;
  border-top: 3px solid #69b578;
  padding: 1rem 0;
}
div#footer {
  background: #254d32;
}
div#footer p {
  margin: 0;
  padding: 5px 10px;
}
div#wrapper {
  float: left;
  width: 100%;
  margin-left: -200px;
}
div#content {
  margin-left: 200px;
  padding: 1rem;
}
div#navigation {
  float: right;
  width: 200px;
}
div#extra {
  float: right;
  clear: right;
  width: 200px;
}
div#footer {
  clear: both;
  width: 100%;
}

div#bubbles img{
  width: 70px;
  animation: bubble 7s linear infinite;
}

div#bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position:fixed;
  bottom: -100px;
}
@keyframes bubble {
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    transform:translateY(-80vh);
    opacity: 0;
  }
}

div#bubbles img:nth-child(1){
  animation-delay: 6s;
  width: 100px;
}
div#bubbles img:nth-child(2){
  animation-delay: 3s;
  width: 30px;
}
div#bubbles img:nth-child(3){
  animation-delay:7s;
}

div#bubbles img:nth-child(4){
  animation-delay: 1s;
  width: 150px;
}
div#bubbles img:nth-child(5){
  animation-delay: 0.5s;
}
div#bubbles img:nth-child(6){
  animation-delay: 4s;
  width: 25px;
}
div#bubbles img:nth-child(7){
  animation-delay: 2s;
}

