html,
body {
  margin: 0;
  padding: 0;
  /*cursor: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/274/turtle_1f422.png"), auto;*/
}
body {
  font: 1rem trebuchet, sans-serif;
  color: #181d27;
}
p {
  margin: 0 10px 10px;
}
a {
  padding: 5px;
  text-decoration: none;
  color: #d0db97;
}
div#header {
  background-color: #254d32;
  font: trebuchet, sans-serif;
}
div#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
}
div#content p {
  line-height: 1.4;
  
}
div#navigation {
  background: #3a7d44;
  font: trebuchet, sans-serif;
}
div#navigation ul {
  margin: 15px 0;
  padding: 0;
  list-style-type: none;
}
div#navigation li {
  margin-bottom: 5px;
}
div#extra {
  background: #69b578;
  font: trebuchet, sans-serif;
}
div#footer {
  background: #254d32;
  font: trebuchet, sans-serif;
}
div#footer p {
  margin: 0;
  padding: 5px 10px;
  font: trebuchet, sans-serif;
}
div#wrapper {
  float: left;
  width: 100%;
  margin-left: -200px;
}
div#content {
  margin-left: 200px;
  padding: 1rem;
}
div#navigation {
  float: right;
  width: 200px;
}
div#extra {
  float: right;
  clear: right;
  width: 200px;
}
div#footer {
  clear: both;
  width: 100%;
}
